.view-display-id-page.view-id-places{
	.title-body-wrapper{
		font-size:14px;
		bottom:-4px;
	}
	.views-field-title{
		line-height:1.2 !important;
		height:auto;
		padding-top:8px;
		padding-bottom:8px;
	}
	.views-field-body{
		padding-top:4px;
	}
}